body{
  font-family: Georgia,  serif;
}

.loading-text {
  display: inline-block;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .row + .row {
    margin-top: 15px;
  }
  .loading-text {
    margin-left: 15px;
  }
}
